<body>
  <center><div id="main">
    <div class="header">
      <p id="title">REIKA YOSHINO</p>
      <a href="/reel">DEMO REEL</a>
      <a href="/models">3D MODELS</a>
      <a href="/designs">DESIGNS</a>
      <a href="/projects">PROJECTS</a>
      <a href="/others">OTHERS</a>
      <a href="/resume">RESUME</a>
    </div>

    <div class="line" />

    <div class="content">

      <iframe id="media" src="https://player.vimeo.com/video/132254201" width="900" height="506" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

      <h2>CGI Animated Short Film: "Afterglow"</h2>

      <p>Semester-end project at Actimage completed in two weeks.</p>

      <p>Roles: Storyboard, Modeling, Texturing, Rigging, Animation, Audio Editing, Video Editing
      <br>Tools: Maya, Photoshop, Premiere</p>

      <p>Credits: Jason Tsai, Reika Yoshino, John Yip, and Lolita Doucette
      <br>Music: Afterglow by Yuki Kajiura / Itsuka Mita Fuukei by Suguru Matsutani</p>


    </div>

    <div class="line" />

    <br>
    <p>
      <div class="header">
        <a href="/">HOME</a>
      </div>
    </p>
    <br><br>
  </div></center>
</body>