<body>
  <center><div id="main">
    <div class="header">
      <p id="title"><a href="/">REIKA YOSHINO</a></p>
      <a href="/reel" class="menu">DEMO REEL</a>
      <a href="/models" class="menu">3D MODELS</a>
      <a href="/designs" class="menu">DESIGNS</a>
      <a href="/projects" class="menu">PROJECTS</a>
      <a href="/others" class="menu">OTHERS</a>
      <a href="/about" class="menu">ABOUT</a>
    </div>

    <div class="line" />

    <div class="content">

      <iframe id="media" src="https://player.vimeo.com/video/132254201" width="900" height="506" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

      <h2>CGI Animated Short Film: "Afterglow"</h2>

      <div class="description">
      <p>Semester-end project at Actimage completed in two weeks.</p>

      <p>Roles: Storyboard, Modeling, Texturing, Rigging, Animation, Audio Editing, Video Editing
      <br>Tools: Maya, Photoshop, Premiere</p>

      <p>Credits: Jason Tsai, Reika Yoshino, John Yip, and Lolita Doucette
      <br>Music: Afterglow by Yuki Kajiura / Itsuka Mita Fuukei by Suguru Matsutani</p>
      </div>

    </div>

    <div class="line" />

    <br>
    <p>
      <div class="header">
        <a href="/" class="footer">HOME</a>
        <a href="/" class="footer static"> ▸ </a>
        <a href="/projects" class="footer">PROJECTS</a>
        <a href="/" class="footer static"> ▸ </a>
        <a href="/projects/afterglow" class="footer static">CGI Animated Short Film: "Afterglow"</a>
      </div>
    </p>
    <br><br>
  </div></center>
</body>