<body>
  <center><div id="main">
    <div class="header">
      <p id="title">REIKA YOSHINO</p>
      <a href="/reel">DEMO REEL</a>
      <a href="/models">3D MODELS</a>
      <a href="/designs">DESIGNS</a>
      <a href="/projects">PROJECTS</a>
      <a href="/others">OTHERS</a>
      <a href="/resume">RESUME</a>
    </div>

    <div class="line" />

    <div class="content">

      <iframe id="media" src="https://player.vimeo.com/video/132255557" width="900" height="506" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

      <h2>Animated Short 2013</h2>

      <p>One-minute long animated short drawn and animated in Adobe Flash.</p>

      <p>Roles: Storyboard, Animation, Video Editing
      <br>Tools: Flash, Premiere</p>

      <br>Music: Summer by Joe Hisaishi</p>


    </div>

    <div class="line" />

    <br>
    <p>
      <div class="header">
        <a href="/">HOME</a>
      </div>
    </p>
    <br><br>
  </div></center>
</body>