<body>
  <center><div id="main">
    <div class="header">
      <p id="title"><a href="/">REIKA YOSHINO</a></p>
      <a href="/reel" class="menu">DEMO REEL</a>
      <a href="/models" class="menu">3D MODELS</a>
      <a href="/designs" class="menu">DESIGNS</a>
      <a href="/projects" class="menu">PROJECTS</a>
      <a href="/others" class="menu">OTHERS</a>
      <a href="/about" class="menu">ABOUT</a>
    </div>

    <div class="line" />

    <div class="content">

      <iframe id="media" src="https://player.vimeo.com/video/132255557" width="900" height="506" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

      <h2>Animated Short 2013</h2>

      <div class="description">
      <p>One-minute long animated short drawn and animated in Adobe Flash.</p>

      <p>The purpose of this short was to portray my recent (as of then) transition from traditional 2D art to 3D computer graphics. However, it is animated in 2D to show that while my focus has shifted to 3D and digital works, I still have influences from the past and it is a crucial part of me today.</p>

      <p>Roles: Storyboard, Animation, Video Editing
      <br>Tools: Flash, Premiere</p>

      <p>Music: Summer by Joe Hisaishi</p>
      </div>

    </div>

    <div class="line" />

    <br>
    <p>
      <div class="header">
        <a href="/" class="footer">HOME</a>
        <a href="/" class="footer static"> ▸ </a>
        <a href="/projects" class="footer">PROJECTS</a>
        <a href="/" class="footer static"> ▸ </a>
        <a href="/projects/animated_short" class="footer static">Animated Short 2013</a>
      </div>
    </p>
    <br><br>
  </div></center>
</body>