<% content_for :title, "Animated Shorts" %>

<body>
  <center><div id="main">
    <div class="header">
      <p id="title"><a href="/">REIKA YOSHINO</a></p>
      <a href="/reel" class="menu">DEMO REEL</a>
      <a href="/models" class="menu">3D MODELS</a>
      <a href="/designs" class="menu">DESIGNS</a>
      <a href="/projects" class="menu">PROJECTS</a>
      <a href="/others" class="menu">OTHERS</a>
      <a href="/about" class="menu">ABOUT</a>
    </div>

    <div class="line" />

    <div class="content">

      <iframe id="media" src="https://player.vimeo.com/video/132255557" width="900" height="506" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

      <h2>Animated Short 2013</h2>

      <div class="description">
      <p>One-minute long animated short drawn and animated in Adobe Flash.</p>

      <p>The purpose of this short was to portray my recent (as of then) transition from traditional 2D art to 3D computer graphics. However, it is animated in 2D to show that while my focus has shifted to 3D and digital works, I still have influences from the past and it is a crucial part of me today.</p>

      <p>Roles: Storyboard, Animation, Video Editing
      <br>Tools: Flash, Premiere</p>

      <p>Music: Summer by Joe Hisaishi</p>
      </div>

      <iframe id="media" src="https://player.vimeo.com/video/132254201" width="900" height="506" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

      <h2>CGI Animated Short Film: "Afterglow"</h2>

      <div class="description">
      <p>Semester-end project at Actimage completed in two weeks.</p>

      <p>Roles: Storyboard, Modeling, Texturing, Rigging, Animation, Audio Editing, Video Editing
      <br>Tools: Maya, Photoshop, Premiere</p>

      <p>Credits: Jason Tsai, Reika Yoshino, John Yip, and Lolita Doucette
      <br>Music: Afterglow by Yuki Kajiura / Itsuka Mita Fuukei by Suguru Matsutani</p>
      </div>
      
      <iframe id="media" src="https://player.vimeo.com/video/133079084" width="900" height="506" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

      <h2>Leica Reel: "Deliverme"</h2>

      <div class="description">
      <p>A story of a lost girl and a shy delivery man. This was created near the end of the first semester at Actimage. The requirement was that I had 2 characters and approximately 10 scenes in my storyboard. My original idea included 3 characters – the girl, the delivery man, and a dog, and the story went like this:</p>

      <p>A delivery man, as usual, was delivering mails and finds himself in front of a house who owns a dog. Unfortunately, the delivery man is surprised by the extremely active dog and quickly runs away. Few blocks after, he encounters a lost girl who asks him to help her get back home. He decides to help and finally they arrive at her home. However, the delivery man realizes that it is the same house as the one he ran away from, and ends up getting chased by the dog.</p>

      <p>Tools: Adobe Photoshop, Adobe Premiere</p>

      <p>Music: Sanpo (Music Box Ver.) by Joe Hisaishi</p>
      </div>

    </div>

    <div class="line" />

    <br>
    <p>
      <div class="header">
        <a href="/" class="footer">HOME</a>
        <a href="/" class="footer static"> ▸ </a>
        <a href="/others" class="footer">OTHERS</a>
        <a href="/" class="footer static"> ▸ </a>
        <a href="/others/animated_short" class="footer static">Animated Shorts</a>
      </div>
    </p>
    <br><br>
  </div></center>
</body>