<% content_for :title, "3D Models: Camera" %>

<body>
  <center><div id="main">
    <div class="header">
      <p id="title"><a href="/">REIKA YOSHINO</a></p>
      <a href="/reel" class="menu">DEMO REEL</a>
      <a href="/models" class="menu">3D MODELS</a>
      <a href="/designs" class="menu">DESIGNS</a>
      <a href="/projects" class="menu">PROJECTS</a>
      <a href="/others" class="menu">OTHERS</a>
      <a href="/about" class="menu">ABOUT</a>
    </div>

    <div class="line" />

    <div class="content">

      <iframe id="media" src="https://player.vimeo.com/video/136795325" width="900" height="506" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

      <h2>Camera Model</h2>

      <div class="description">
        <p>This was created for [FNAR-235-401 3D Computer Modeling and Sculpture]'s first project.</p>

        <p>The assignment was to create any kind of machine. I narrowed down my options to three – a motorcycle, a gun, or an antique camera. I decided to go with the camera because I wanted to make something that has individual parts that would move. The texture details on the reference images I found were also extremely interesting. 
        [<a href="https://img1.etsystatic.com/001/0/5963193/il_fullxfull.357751681_i9hn.jpg">Reference 1</a>] 
        [<a href="http://862047.wikispaces.com/file/view/antique_camera.jpg/165563847/antique_camera.jpg">Reference 2</a>] 
        [<a href="http://www.kitschy-kitschy-coo.com/uploaded_images/1884-glass-negative-kodak-camera-727863.jpe">Reference 3</a>]</p>

        <h3>▾ Beauty Pass
        <%= image_tag "camera_beauty.jpg" %><br><br>

        ▾ Ambient Occlusion Pass
        <%= image_tag "camera_ao.jpg" %><br><br>

        ▾ Wireframe + Beauty Pass
        <%= image_tag "camera_wireframe.jpg" %><br></h3>

        <p>Tools: Maya, Mudbox, Photoshop, Premiere</p>
      </div>

    </div>

    <div class="line" />

    <br>
    <p>
      <div class="header">
        <a href="/" class="footer">HOME</a>
        <a href="/" class="footer static"> ▸ </a>
        <a href="/models" class="footer">3D MODELS</a>
        <a href="/" class="footer static"> ▸ </a>
        <a href="/models/camera" class="footer static">Camera Model</a>
      </div>
    </p>
    <br><br>
  </div></center>
</body>