<% content_for :title, "3D Models: Cupcake" %>

<body>
  <center><div id="main">
    <div class="header">
      <p id="title"><a href="/">REIKA YOSHINO</a></p>
      <a href="/reel" class="menu">DEMO REEL</a>
      <a href="/models" class="menu">3D MODELS</a>
      <a href="/designs" class="menu">DESIGNS</a>
      <a href="/projects" class="menu">PROJECTS</a>
      <a href="/others" class="menu">OTHERS</a>
      <a href="/about" class="menu">ABOUT</a>
    </div>

    <div class="line" />

    <div class="content">

      <%= image_tag "model_cupcake_header3.jpg", id: "media" %>

      <h2>Cupcake Model</h2>

      <div class="description">
        <p>This cupcake model was created for [FNAR-366-401 Advanced 3D Modelling]'s photographic impersonation project. I had always been curious about reproducing a photo-real model of food, especially something colorful and fun.</p>

        <p>After this project, I learned that creating and texturing a model of food to make it look a realistic was a lot harder than I initially thought. However, it challenged me to make better and detailed observations, which taught me a lot about textures and materials of food. Here are the links to the reference images: 
        [<a href="http://ohsweetday.com/wp-content/uploads/2013/04/IMG_7127.jpg">Reference 1</a>] 
        [<a href="https://laineytweed.files.wordpress.com/2013/03/cupcake2.jpg">Reference 2</a>] 
        [<a href="https://recipesnobs.files.wordpress.com/2011/04/e027f-cherry-almondvanillacupcakes.jpg">Reference 3</a>] 
        [<a href="https://tinycupcakesstore.files.wordpress.com/2015/03/cupcakes.jpg">Reference 4</a>]</p>

        <h3>▾ Beauty Pass
        <%= image_tag "model_cupcake_beauty.jpg" %><br><br>

        ▾ Ambient Occlusion Pass
        <%= image_tag "model_cupcake_ao.jpg" %><br><br>

        ▾ Wireframe + Beauty Pass
        <%= image_tag "model_cupcake_wireframe.jpg" %><br></h3>

        <p>Tools: Maya, Photoshop, Premiere</p>
      </div>

    </div>

    <div class="line" />

    <br>
    <p>
      <div class="header">
        <a href="/" class="footer">HOME</a>
        <a href="/" class="footer static"> ▸ </a>
        <a href="/models" class="footer">3D MODELS</a>
        <a href="/" class="footer static"> ▸ </a>
        <a href="/models/cupcake" class="footer static">Cupcake Model</a>
      </div>
    </p>
    <br><br>
  </div></center>
</body>