<body>
  <center><div id="main">
    <div class="header">
      <p id="title">REIKA YOSHINO</p>
      <a href="/reel">DEMO REEL</a>
      <a href="/models">3D MODELS</a>
      <a href="/designs" id="inactive">DESIGNS</a>
      <a href="/projects">PROJECTS</a>
      <a href="/others">OTHERS</a>
      <a href="/resume">RESUME</a>
    </div>

    <div class="line" />

    <div class="content">

      <div class="box">
        <a href="/design/card_series"> <%= image_tag "card_series.jpg" %> </a>
        <h4>Holiday Card Series</h4>
      </div> 

      <div class="box margin">
        <a href="/design/pennappetit"> <%= image_tag "illustration_pennappetit.jpg" %> </a>
        <h4>Penn Appétit Illustration </h4>
      </div> 

      <div class="box margin">
        <a href="/design/journal_wax"> <%= image_tag "journal_wax.jpg" %> </a>
        <h4>Journal Design</h4>
      </div>

    </div>

    <div class="line" />

    <br>
    <p>
      <div class="header">
        <a href="/">HOME</a>
      </div>
    </p>
    <br><br>
  </div></center>
</body>