<% content_for :title, "3D Models: Environments" %>

<body>
  <center><div id="main">
    <div class="header">
      <p id="title"><a href="/">REIKA YOSHINO</a></p>
      <a href="/reel" class="menu">DEMO REEL</a>
      <a href="/models" class="menu">3D MODELS</a>
      <a href="/designs" class="menu">DESIGNS</a>
      <a href="/projects" class="menu">PROJECTS</a>
      <a href="/others" class="menu">OTHERS</a>
      <a href="/about" class="menu">ABOUT</a>
    </div>

    <div class="line" />

    <div class="content">

      <%= image_tag "model_environment_header.jpg", id: "media" %>

      <h2>Environments</h2>

      <div class="description">
        <p>The two environments (reel below) are based off of my own concepts. The first environment was created in 2012 during the last semester of my enrollment at Actimage Centre of Digital Arts as a demo reel piece.</p>

        <p>The second environment (interior) was created for [FNAR-235-401 3D Computer Modelling and Sculpture]'s environment project at UPenn. Although this is imagined in a completely different space from the first one, it has a similar vibe due to the reuse of the spherical lights and background.</p>

        <iframe id="media" src="https://player.vimeo.com/video/136797187" width="900" height="506" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

        <p>Tools: Maya, Mudbox, ZBrush, Photoshop, Premiere</p>
      </div>

    </div>

    <div class="line" />

    <br>
    <p>
      <div class="header">
        <a href="/" class="footer">HOME</a>
        <a href="/" class="footer static"> ▸ </a>
        <a href="/models" class="footer">3D MODELS</a>
        <a href="/" class="footer static"> ▸ </a>
        <a href="/models/environments" class="footer static">Environments</a>
      </div>
    </p>
    <br><br>
  </div></center>
</body>