<% content_for :title, "Goobr" %>

<body>
  <center><div id="main">
    <div class="header">
      <p id="title"><a href="/">REIKA YOSHINO</a></p>
      <a href="/reel" class="menu">DEMO REEL</a>
      <a href="/models" class="menu">3D MODELS</a>
      <a href="/designs" class="menu">DESIGNS</a>
      <a href="/projects" class="menu">PROJECTS</a>
      <a href="/others" class="menu">OTHERS</a>
      <a href="/about" class="menu">ABOUT</a>
    </div>

    <div class="line" />

    <div class="content">

      <iframe id="media" src="https://player.vimeo.com/video/138437170" width="900" height="506" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

      <h2>Website Application: Goobr</h2>

      <div class="description">
        <p>Goobr with a website application that allows user to schedule Uber rides ahead of time and set up recurring rides. It uses Google Maps API and Uber API to calculate traffic real-time and the closest driver distance to request a ride to get the user to the destination by the specified time. It was created during PennApps Fall 2015 Hackathon with a team of four. This hack won the <i>Best Use of Uber API</i> prize. [<a href="http://www.goobr.co">Website Link</a>]</p>

        <p>Roles: Ideation Process, Front-End Developer, Lead Designer, Logo Design, Promotional Video
        <br>Tools: HTML/CSS, Adobe Photoshop, Adobe Premiere</p>
      </div>
      
      <!-- <%= image_tag "instant_design.jpg" %>  -->
    </div>

    <div class="line" />

    <br>
    <p>
      <div class="header">
        <a href="/" class="footer">HOME</a>
        <a href="/" class="footer static"> ▸ </a>
        <a href="/projects" class="footer">PROJECTS</a>
        <a href="/" class="footer static"> ▸ </a>
        <a href="/projects/goobr" class="footer static">Website Application: Goobr</a>
      </div>
    </p>
    <br><br>
  </div></center>
</body>