<body>
  <center><div id="main">
    <div class="header">
      <p id="title"><a href="/">REIKA YOSHINO</a></p>
      <a href="/reel" class="menu">DEMO REEL</a>
      <a href="/models" class="menu">3D MODELS</a>
      <a href="/designs" class="menu">DESIGNS</a>
      <a href="/projects" class="menu">PROJECTS</a>
      <a href="/others" class="menu">OTHERS</a>
      <a href="/about" class="menu">ABOUT</a>
    </div>
    
    <div class="line" />

    <div class="content">
      <div class="box">
       <%= image_tag "home_01.jpg" %>
       <h4>&nbsp;</h4>
      </div>

      <div class="box margin">
       <%= image_tag "home_02.jpg" %>
       <h4>&nbsp;</h4>
      </div>

      <div class="box margin">
       <%= image_tag "home_03.jpg" %>
       <h4>&nbsp;</h4>
      </div>

      <div class="box margin">
       <%= image_tag "home_04.jpg" %>
       <h4>&nbsp;</h4>
      </div>
    </div>

    <div class="line" />

    <br>
    <p>
      <div class="header">
        <a href="/" class="footer">HOME</a>
      </div>
    </p>
    <br><br>
  </div></center>
</body>