<% content_for :title, "The Instant Button" %>

<body>
  <center><div id="main">
    <div class="header">
      <p id="title"><a href="/">REIKA YOSHINO</a></p>
      <a href="/reel" class="menu">DEMO REEL</a>
      <a href="/models" class="menu">3D MODELS</a>
      <a href="/designs" class="menu">DESIGNS</a>
      <a href="/projects" class="menu">PROJECTS</a>
      <a href="/others" class="menu">OTHERS</a>
      <a href="/about" class="menu">ABOUT</a>
    </div>

    <div class="line" />

    <div class="content">

      <iframe id="media" src="https://player.vimeo.com/video/117080505" width="900" height="506" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

      <h2>Google Chrome Extension: The Instant Button</h2>

      <div class="description" style="width:720px; padding-right:30px">
        <p>The Instant Button is a Google Chrome extension that allows online shoppers to order products and have them delivered within one hour by making an API call to PostMates. It was created during PennApps Winter 2015 Hackathon with a team of four. The above is a promotional video that I created for our presentation. [<a href="http://www.theinstantbutton.com">Website Link</a>]</p>

        <p>Roles: Ideation Process, Lead Designer, Logo Design, Promotional Video
        <br>Tools: Adobe Photoshop, Adobe Premiere</p>

        <p>Music: Dog Days Are Over (Instrumental Ver.) by Florence + The Machine</p>
      </div>

      <div class="description" style="width:150px">
        <%= image_tag "instant_animation.gif" %>
      </div>
      
      <!-- <%= image_tag "instant_design.jpg" %>  -->
    </div>

    <div class="line" />

    <br>
    <p>
      <div class="header">
        <a href="/" class="footer">HOME</a>
        <a href="/" class="footer static"> ▸ </a>
        <a href="/projects" class="footer">PROJECTS</a>
        <a href="/" class="footer static"> ▸ </a>
        <a href="/projects/instant" class="footer static">Google Chrome Extension: The Instant Button</a>
      </div>
    </p>
    <br><br>
  </div></center>
</body>