<% content_for :title, "Designs: Journal Design" %>

<body>
  <center><div id="main">
    <div class="header">
      <p id="title"><a href="/">REIKA YOSHINO</a></p>
      <a href="/reel" class="menu">DEMO REEL</a>
      <a href="/models" class="menu">3D MODELS</a>
      <a href="/designs" class="menu">DESIGNS</a>
      <a href="/projects" class="menu">PROJECTS</a>
      <a href="/others" class="menu">OTHERS</a>
      <a href="/about" class="menu">ABOUT</a>
    </div>

    <div class="line" />

    <div class="content">

      <div id="media" data-configid="18196417/14345197" style="width:900px; height:510px;" class="issuuembed"></div><script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>

      <h2>Layout Design for Wharton Asia Exchange Journal Spring 2014</h2>

      <div class="description">
        <p>The Wharton Asia Exchange (WAX) is a professional student-run organization of the Wharton School at the University of Pennsylvania.  It was founded with the intention of bridging the gap between the University community and the Asian business environment. [<a href="http://www.whartonasia.net/">Website Link</a>]</p>

        <p>Every semester, the Wharton Asia Journal provides a broad view of Asia-related business, political, and social issues. The theme for the Spring 2014 Journal was "Physical and Mental Health in Business."</p>

        <p>Tools: InDesign, Photoshop</p>
      </div>

    </div>

    <div class="line" />

    <br>
    <p>
      <div class="header">
        <a href="/" class="footer">HOME</a>
        <a href="/" class="footer static"> ▸ </a>
        <a href="/designs" class="footer">DESIGNS</a>
        <a href="/" class="footer static"> ▸ </a>
        <a href="/designs/journal_wax" class="footer static">Layout Design for Wharton Asia Exchange Journal Spring 2014</a>
      </div>
    </p>
    <br><br>
  </div></center>
</body>