<body>
  <center><div id="main">
    <div class="header">
      <p id="title"><a href="/">REIKA YOSHINO</a></p>
      <a href="/reel" class="menu">DEMO REEL</a>
      <a href="/models" class="menu">3D MODELS</a>
      <a href="/designs" class="menu">DESIGNS</a>
      <a href="/projects" class="menu">PROJECTS</a>
      <a href="/others" class="menu">OTHERS</a>
      <a href="/about" class="menu">ABOUT</a>
    </div>

    <div class="line" />

    <div class="content">

      <iframe id="media" src="https://player.vimeo.com/video/133079084" width="900" height="506" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

      <h2>Leica Reel: "Deliverme"</h2>

      <div class="description">
      <p>A story of a lost girl and a shy delivery man. This was created near the end of the first semester at Actimage. The requirement was that I had 2 characters and approximately 10 scenes in my storyboard. My original idea included 3 characters – the girl, the delivery man, and a dog, and the story went like this:</p>

      <p>A delivery man, as usual, was delivering mails and finds himself in front of a house who owns a dog. Unfortunately, the delivery man is surprised by the extremely active dog and quickly runs away. Few blocks after, he encounters a lost girl who asks him to help her get back home. He decides to help and finally they arrive at her home. However, the delivery man realizes that it is the same house as the one he ran away from, and ends up getting chased by the dog.</p>

      <p>Tools: Adobe Photoshop, Adobe Premiere</p>

      <p>Music: Sanpo (Music Box Ver.) by Joe Hisaishi</p>
      </div>

    </div>

    <div class="line" />

    <br>
    <p>
      <div class="header">
        <a href="/" class="footer">HOME</a>
        <a href="/" class="footer static"> ▸ </a>
        <a href="/projects" class="footer">PROJECTS</a>
        <a href="/" class="footer static"> ▸ </a>
        <a href="/projects/leica_reel" class="footer static">Leica Reel: "Deliverme"</a>
      </div>
    </p>
    <br><br>
  </div></center>
</body>