<% content_for :title, "About Me" %>

<body>
  <center><div id="main">
    <div class="header">
      <p id="title"><a href="/">REIKA YOSHINO</a></p>
      <a href="/reel" class="menu">DEMO REEL</a>
      <a href="/models" class="menu">3D MODELS</a>
      <a href="/designs" class="menu">DESIGNS</a>
      <a href="/projects" class="menu">PROJECTS</a>
      <a href="/others" class="menu" id="inactive">OTHERS</a>
      <a href="/about" class="menu">ABOUT</a>
    </div>
    
    <div class="line" />

    <div class="content">

      <div class="box">
        <a href="/others/sketchbook"><%= image_tag "sketchbook.jpg" %></a>
        <h4>Sketches</h4>
      </div> 

      <div class="box margin">
        <a href="/others/studies"><%= image_tag "studies.jpg" %></a>
        <h4>Studies</h4>
      </div>

      <div class="box margin">
        <a href="/others/animated_shorts"><%= image_tag "animated_shorts.jpg" %></a>
        <h4>Animated Shorts</h4>
      </div> 


    
    </div>

    <div class="line" />

    <br>
    <p>
      <div class="header">
        <a href="/" class="menu">HOME</a>
      </div>
    </p>
    <br><br>
  </div></center>
</body>