<body>
  <center><div id="main">
    <div class="header">
      <p id="title">REIKA YOSHINO</p>
      <a href="/reel">DEMO REEL</a>
      <a href="/models">3D MODELS</a>
      <a href="/designs">DESIGNS</a>
      <a href="/projects">PROJECTS</a>
      <a href="/others" id="inactive">OTHERS</a>
      <a href="/resume">RESUME</a>
    </div>
    
    <div class="line" />

    <div class="content">
      <div class="box">
        <%= image_tag "placeholder.jpg" %>
        <h4>Sketches</h4>
      </div> 

      <div class="box margin">
        <%= image_tag "placeholder.jpg" %>
        <h4>Paintings</h4>
      </div>
    
    </div>

    <div class="line" />

    <br>
    <p>
      <div class="header">
        <a href="/">HOME</a>
      </div>
    </p>
    <br><br>
  </div></center>
</body>