<body>
  <center><div id="main">
    <div class="header">
      <p id="title">REIKA YOSHINO</p>
      <a href="/reel">DEMO REEL</a>
      <a href="/models">3D MODELS</a>
      <a href="/designs">DESIGNS</a>
      <a href="/projects">PROJECTS</a>
      <a href="/others">OTHERS</a>
      <a href="/resume">RESUME</a>
    </div>

    <div class="line" />

    <div class="content">

      <div id="media" data-configid="0/10615950" style="width:900px; height:510px;" class="issuuembed"></div><script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>

      <h2>Editorial Illustration for Penn Appétit Magazine Fall 2014</h2>

      <div class="description" style="width:380px; padding-right:20px">
        <p> Penn Appétit is an innovative, student-run food magazine at the University of Pennsylvania which showcases the best eats in Philly and beyond. <br>[<a href="http://pennappetit.com/">Website Link</a>]</p>

        <p>Penn Appétit publishes one hard copy issue each semester, and collaborates with the Digital Illustration course at Penn. Students are supplied with a list of article (usually narrowed down to three), and each chooses one to create an 8.5" x 11" conceptual illustration for. Penn Appétit then picks one illustration per article that will be featured in the magazine.</p>

        <p>I chose the article <i>Cooking with Wood: Building the Right Smoke</i>, which elaborated on the different aromata of each wood as well as what food they should be used with. Obvious keywords here are "wood", "smoke", and perhaps "smoked meat".</p>

        <p>Tools: Photoshop</p>
      </div>

      <div class="description" style="width:500px">
        <%= image_tag "editorial_research.jpg" %>
      </div>

      

      <p> </p>

      <%= image_tag "editorial_final.jpg" %>

    </div>

    <div class="line" />

    <br>
    <p>
      <div class="header">
        <a href="/">HOME</a>
      </div>
    </p>
    <br><br>
  </div></center>
</body>