<% content_for :title, "Prairie of Forgotten Dreams" %>

<body>
  <center><div id="main">
    <div class="header">
      <p id="title"><a href="/">REIKA YOSHINO</a></p>
      <a href="/reel" class="menu">DEMO REEL</a>
      <a href="/models" class="menu">3D MODELS</a>
      <a href="/designs" class="menu">DESIGNS</a>
      <a href="/projects" class="menu">PROJECTS</a>
      <a href="/others" class="menu">OTHERS</a>
      <a href="/about" class="menu">ABOUT</a>
    </div>

    <div class="line" />

    <div class="content">

      <%= image_tag "prairie_header.jpg", id: "media" %>

      <h2>Walking Simulator Game: "Prairie of Forgotten Dreams"</h2>

      <div class="description">
      <p>This is a walking simulator game created in Unity for PennPlay 2015 Hackathon with a team of four.</p>

      <p>There are two versions of the world in this game – in color and in black and white. Every few seconds, the player is given the opportunity to switch into the monochrome world, where she has to find her other half. [<a href="https://dl.dropboxusercontent.com/u/57382580/PennPlay2015%20Web%20build.html">Click to Play</a>]</p>

      <p>Roles: Ideation Process, Lead Artist, Character Design, Environment Design
      <br>Tools: Autodesk Maya, Unity</p>

      <!-- <%= image_tag "prairie_process.jpg" %> -->
      </div>

    </div>

    <div class="line" />

    <br>
    <p>
      <div class="header">
        <a href="/" class="footer">HOME</a>
        <a href="/" class="footer static"> ▸ </a>
        <a href="/projects" class="footer">PROJECTS</a>
        <a href="/" class="footer static"> ▸ </a>
        <a href="/projects/prairie" class="footer static">Walking Simulator Game: "Prairie of Forgotten Dreams"</a>
      </div>
    </p>
    <br><br>
  </div></center>
</body>