<% content_for :title, "Demo Reel" %>

<body>
  <center>
    <div id="main">
      <div class="header">
        <p id="title"><a href="/">REIKA YOSHINO</a></p>
        <a href="/reel" class="menu" id="inactive">DEMO REEL</a>
        <a href="/models" class="menu">3D MODELS</a>
        <a href="/designs" class="menu">DESIGNS</a>
        <a href="/projects" class="menu">PROJECTS</a>
        <a href="/others" class="menu">OTHERS</a>
        <a href="/about" class="menu">ABOUT</a>
      </div>

      <div class="line" />

      <div class="content">
        <iframe id="media" src="https://player.vimeo.com/video/115689162" width="900" height="506" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

        <h2>Demo Reel Breakdown</h2>

        <div class="description">
        <p><b>Environments</b>
        <font size=2>
          <br>Concept, Modeling, Texturing, Lighting, Compositing
          <br>Tools: Maya, Mudbox, ZBrush, Photoshop, Nuke
        </font></p>

        <p><b>Cottage Model</b>
        <font size=2>
          <br>Modeling, Texturing, Lighting
          <br>Tools: Maya, Photoshop
          <br>Concept Artist: Zhuosi (Joyce) Xu [<a href="http://xuzhuosi.portfoliobox.io">Website Link</a>]<br>
          Illustrator: Jay Zhou [<a href="https://artofjayzhou.wordpress.com/">Website Link</a>]
        </font></p>

        <p><b>Cupcake Model</b>
        <font size=2>
          <br>Modeling, Texturing, Shading
          <br>Tools: Maya, ZBrush, Photoshop
          <br>Reference Images: 
          [<a href="http://ohsweetday.com/wp-content/uploads/2013/04/IMG_7127.jpg">Reference 1</a>] 
          [<a href="https://laineytweed.files.wordpress.com/2013/03/cupcake2.jpg">Reference 2</a>] 
          [<a href="https://recipesnobs.files.wordpress.com/2011/04/e027f-cherry-almondvanillacupcakes.jpg">Reference 3</a>] 
          [<a href="https://tinycupcakesstore.files.wordpress.com/2015/03/cupcakes.jpg">Reference 4</a>]
        </font></p>

        <p><b>Antique Camera Model</b>
        <font size=2>
          <br>Modeling, Texturing, Shading
          <br>Tools: Maya, Mudbox, Photoshop
          <br>Reference Images:
          [<a href="https://img1.etsystatic.com/001/0/5963193/il_fullxfull.357751681_i9hn.jpg">Reference 1</a>] 
          [<a href="http://862047.wikispaces.com/file/view/antique_camera.jpg/165563847/antique_camera.jpg">Reference 2</a>] 
          [<a href="http://www.kitschy-kitschy-coo.com/uploaded_images/1884-glass-negative-kodak-camera-727863.jpe">Reference 3</a>]
        </font></p>
        </div>

      </div>

      <div class="line" />

      <br>
      <p>
        <div class="header">
          <a href="/" class="menu">HOME</a>
        </div>
      </p>
      <br><br>
    </div>
  </center>
</body>