<body>
  <center><div id="main">
    <div class="header">
      <p id="title">REIKA YOSHINO</p>
      <a href="/reel" id="inactive">DEMO REEL</a>
      <a href="/models">3D MODELS</a>
      <a href="/designs">DESIGNS</a>
      <a href="/projects">PROJECTS</a>
      <a href="/others">OTHERS</a>
      <a href="/resume">RESUME</a>
    </div>

    <div class="line" />

    <div class="content">

      <iframe id="media" src="https://player.vimeo.com/video/115689162" width="900" height="506" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

      <h2>Demo Reel Breakdown</h2>

      <p><b>Antique Camera</b>
      <font size=2>
        <br>Modeling and Texturing
        <br>Tools: Maya, Mudbox, Photoshop, Nuke
      </font></p>
      <p></p>
      <p>Description and references go here.</p>

      <p><b>Wooden Lodge</b>
      <font size=2>
        <br>Modeling and Texturing
        <br>Tools: Maya, ZBrush, Mudbox, Photoshop, Nuke
      </font></p>
      <p></p>
      <p>Description and references go here.</p>

    </div>

    <div class="line" />

    <br>
    <p>
      <div class="header">
        <a href="/">HOME</a>
      </div>
    </p>
    <br><br>
  </div></center>
</body>