<% content_for :title, "Resume" %>

<body>
  <center><div id="main">
    <div class="header">
      <p id="title"><a href="/">REIKA YOSHINO</a></p>
      <a href="/reel" class="menu">DEMO REEL</a>
      <a href="/models" class="menu">3D MODELS</a>
      <a href="/designs" class="menu">DESIGNS</a>
      <a href="/projects" class="menu">PROJECTS</a>
      <a href="/others" class="menu">OTHERS</a>
      <a href="/about" class="menu" id="inactive">ABOUT</a>
    </div>

    <div class="line" />

    <div class="content">

      <div class="box">
        <%= image_tag "aboutme.jpg" %>
        <h4>&nbsp;</h4>
      </div> 

      <div class="aboutme description margin">
        <h2>About Me</h2>

        <p id="blurb">My name is Reika Yoshino. I'm from Vancouver, Canada and am currently studying CG Arts and Computer Programming at the University of Pennsylvania in Philadelphia. My focus is mainly on modeling (and a little bit of texturing on the side) for sets. I also have experience in designing as a freelance artist. In the future, I hope to become part of either the animation or the gaming industry.
        <br><br>
        I absolutely love working with others on projects/products such as animated shorts, games, and web/software development. Please feel free to reach out if you have interesting ideas and would like to collaborate!</p>

        <h3>Let's Connect!</h3>
        [<a href="https://www.linkedin.com/in/reikayoshino">LinkedIn</a>] 
        [<a href="https://artofyoshino.wordpress.com/">Wordpress</a>] 
        [<a href="https://instagram.com/reikadoodles/">Instagram</a>] 
        [<a href="https://vimeo.com/user32861297">Vimeo</a>] 
        [<a href="mailto:yoshino.reika@gmail.com">Email</a>]
      </div>

    </div>

    <div class="line" />

    <br>
    <p>
      <div class="header">
        <a href="/" class="menu">HOME</a>
      </div>
    </p>
    <br><br>
  </div></center>
</body>