<% content_for :title, "Sketchbook" %>

<body>
  <center><div id="main">
    <div class="header">
      <p id="title"><a href="/">REIKA YOSHINO</a></p>
      <a href="/reel" class="menu">DEMO REEL</a>
      <a href="/models" class="menu">3D MODELS</a>
      <a href="/designs" class="menu">DESIGNS</a>
      <a href="/projects" class="menu">PROJECTS</a>
      <a href="/others" class="menu">OTHERS</a>
      <a href="/about" class="menu">ABOUT</a>
    </div>

    <div class="line" />

    <div class="content">

      <%= image_tag "sketchbook_header.jpg", id: "media" %>

      <h2>Sketchbook</h2>

      <div class="description">
        
      </div>

    </div>

    <div class="line" />

    <br>
    <p>
      <div class="header">
        <a href="/" class="footer">HOME</a>
        <a href="/" class="footer static"> ▸ </a>
        <a href="/others" class="footer">OTHERS</a>
        <a href="/" class="footer static"> ▸ </a>
        <a href="/others/sketchbook" class="footer static">Sketchbook</a>
      </div>
    </p>
    <br><br>
  </div></center>
</body>