// force scroll bar
html {
  overflow-y: scroll;
}

body {
  margin-top: 70px;
  font-family: 'Genome', sans-serif;


  #main {
    width: 900px;
  }

  .header {
    text-align: left;

    #title {
      font-size: 50px;
      margin-bottom: -3px;

      a {
        color: #000000;
        text-decoration: none;
        margin-left: -3px;
      }

    }

  }

  .menu {
    font-size: 13px;
    color: #A6A6A6;
    text-decoration: none;
    margin-right: 20px;
  }

  .footer {
    font-size: 13px;
    color: #A6A6A6;
    text-decoration: none;
  }

  h2 {
    padding-top: 70px;
  }

  h4 {
    color: #676767;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 30px;
  }

  a:hover {
    color: #676767;
    cursor: pointer;
  }

  .content {
    width: 900px;
    text-align: left;
    overflow: hidden;
  }

  .box {
    width: 219px;
    //box-sizing: border-box;
    margin-top: 10px;
    float: left;
  }

  .aboutme {
    width: 653px;
    margin-top: 10px;
    margin-left: 20px;
    float: left;

    h2 {
      padding-top: 0px;
    }
  }

  .margin {
    padding-left: 8px;
  }

  #media {
    margin-top: 20px;
  }

  #inactive {
    color: #FF6633;
    pointer-events: none;
    cursor: default;
  }

  .static{
    color: #676767;
    pointer-events: none;
    cursor: default;
    padding-left: 5px;
    padding-right: 5px;
  }

  img {
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;  
    width: 100%;
  }

  .line {
    height: 1px;
    width: 100%;
    background-color: #CCCCCC;
    margin-top: 30px;
  }

  .description {
    float: left;
    a {
      font-size: 13px;
      color: #A6A6A6;
      text-decoration: none;
    }
  }

}

@font-face {
  font-family: "Genome";
  src: url(font-path("Genome-Thin.otf")) format("opentype");
}
/* font-family: 'Josefin Sans', sans-serif; */ 
